
fieldset {
    border: 1px solid #EBEBEB;
    margin: 2px 10px;
    padding: 3px;
}

.btn
{
	background-color: #3B5998;
	color: #FFFFFF;
	font-weight: bold;
}

.fieldLinha {
	margin:7px 0;
	text-align:left;
	width: 100%;
	clear:both;
}

.fieldLinha2{
	margin:7px 0;
	width: 50%;
	float: left;
}


.fieldLinha3{
	margin:7px 0;
	width: 30%;
	float:left;
}

.fieldLinhaVazia {
	margin:10px 0;
    height:32px;
}

.fieldLinhaMini {
	float: left;
	margin: 7px 0;
	width: 15%;
}

.fieldLinhaMax {
	float: left;
	margin: 7px 0;
	width: 66%;
}

.fullTextArea
{
	height: 100px;
	width: 725px;
}

.fieldBtn {
	height:35px;
	margin:70px 0 0 10px;
	width: 95%;
	margin-left:5px;
}

.navigation_left{
	width:110%;
}

/*OUTROS TAMANHOS*/
.minTxtArea, .minTxtAreaRO { /*máximo de 2 caracteres*/
	width:20px;
}

.miniTxtArea, .miniTxtAreaRO { /*máximo de 5 caracteres*/
	width:50px;
}

.medTxtArea, .medTxtAreaRO {
	width:150px;
}

.med2TxtArea, .med2TxtAreaRO {
	width:200px;
}

.med3TxtArea, .med2TxtAreaRO {
	width:300px;
}


.bigTxtArea, .bigTxtAreaRO {
	width:300px;
}

.dataTxtArea, .dataTxtAreaRO { /*máximo de 10 caracteres*/
	width:105px;
	margin: 0 0 0 10px;
}

.ui-datepicker-trigger{ /*imagem da data*/
	margin: 0 0 0 10px;
}

.dataHoraTxtArea, .dataHoraTxtAreaRO {
    width:90px;
}


.numRightMedRO {
    text-align:right;
}

.textArea
{
	width: 150px;
	height: 100px;
}

.textAreaMed
{
	width: 450px;
	height: 100px;
}

/*DESABILITADOS - READONLY*/
.minTxtAreaRO, .miniTxtAreaRO, .medTxtAreaRO, .med2TxtAreaRO, .bigTxtAreaRO, .dataTxtAreaRO, .dataHoraTxtAreaRO, .txtAreaRO, .numRightMedRO {
	border-color:#DDD;
	background-color:#F0F0F0;
    color:#000;
}