@model Axis.Models.PersonModel

<script type="text/javascript">
    $(function () {
        $("#Idestado")
        .bind("change", function () {
            $.ajax({
                type: "POST",
                url: "/Register/GetCity",
                data: "idEstado=" + $(this).val(),
                success: function (myOptions) {
                    var dados = myOptions;
                    var options = $('#Idcidade').prop('options');
                    options[options.length] = new Option('Selecione', '0', true, true);
                    $.each(dados, function (val, text) {
                        options[options.length] = new Option(text.Text, text.Value, false, false);
                    });
                },
                erro: function (msg) {
                    $('.right').html(msg);
                }
            });
        });
    });
</script>
<h2>Adicionar dados pessoais</h2>
<div>
    <fieldset>
        <legend id="pass1"></legend>
        @Html.EditorForModel()
    </fieldset>
</div>
