/*ul.menu, ul.menu ul {
	width:140px;
	color: #084E5A;
}

ul.menu ul {
	display:none;
	width:180px;
	border: 1px solid #BFBFBF;
}

ul.menu li.selected_item ul {
	position:absolute;
	left:180px;	
	z-index:1000;
	margin-left: -10px;
	margin-top: -10px;
}

ul.menu li {
	height:18px;
	list-style: circle;
	line-height: 20px;
	text-align: left;
	padding-bottom: 5px;
	border-bottom:1px solid #C8C8C8;
	cursor:pointer;
	height:20px;
	width:90%;
	background-image: url(../images/seta-right.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: auto;
}

ul.menu li li.dropdown{
	background-image: url(../images/seta-right.png);
	background-repeat: no-repeat;
	background-position: right;
}

ul.menu li li{
	background-image: none;
	padding-left:5px;
}

ul.menu li li li{
	background-image: none;
}

ul.menu li.selected_item {
	color: #084E5A;
}
*/

ul.menu{
	list-style: inside;
	list-type: circle;
	list-style-image: url(../images/bt_expand.gif);

}

ul.menu a.menuNodeFechado{
	border: none !important;
	/*background: none;*/
	background: url(../images/folder-closed.gif) left no-repeat;
	padding-left: 10px;	
	font-weight: normal;
}

ul.menu a.menuNodeAberto{
	border: none !important;
	/*background: none;*/
	background: url(../images/folder.gif) left no-repeat;
	padding-left: 10px;	
	font-weight: normal;
}

ul.menu a.menuNodeFim{
	border: none !important;
	/*background: none;*/
	background:  url(../images/document.gif) left no-repeat;
	padding-left: 10px;	
	font-weight: normal;
}

ul.menu a:hover{
	/*background: none;*/
	color: #084D59 !important;
	border-bottom: 1px solid #084D59;
}

ul.menu a:active{
	/*background: transparent ;*/
	color: #084D59 !important;
}

ul.menu li{
	font-weight: 700;

}

ul.menu ul{
	list-style: inside;
	list-type: circle;
	display: none;

}

ul.menu ul li{
	padding-left: 20px;
	font-weight: 400;
}

ul.menu ul li ul{
	list-style: inside;
	list-type: circle;
	display: none;


}

.menuNodeAberto{
	cursor: pointer;
	/*list-style-image: url(../images/folder.gif);*/
	list-style: none;
}

.menuNodeFechado{
	cursor: pointer;
	/*list-style-image: url(../images/folder-closed.gif);*/
	list-style: none;
}

.menulink{
	cursor: pointer;
	/*list-style-image: url(../images/document.gif);*/
	list-style: none;
}