@model PontoEncontro.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<h2>Criando um novo membro</h2>
<p>
    Use the form below to create a new account.
</p>
<p>
    Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
    characters in length.
</p>
<div>
    <fieldset>
        <legend>Account Information</legend>
        @Html.EditorForModel()
    </fieldset>
</div>
