@charset "utf-8";

@import "form.css";
@import "calendar.css";



* {
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

html {
	overflow:scroll;
}

body {
	color:#2E6AB1;
	font:11px Verdana, Arial, Helvetica, sans-serif none normal;
	line-height:normal;
	background:#EFEFEF;
}

    #content {
        background:#FFFFFF;
        margin: 0 auto;
        position:relative;
        width: 995px;
        min-height: 50%;
    }



	#conteudo{
		width:770px;
		float:none;
		margin-left: 8px;
		margin-bottom:20px;
		margin-top: 110px;
		background: #F3F3F3;
	}

	#conteudo h2{
		border: none;
		background: #2E6AB1;
		font-family: verdana;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		padding-left: 10px;
		margin-bottom: 8px;
		color: #fff;
		font-weight: bolder;
	}

	#container {
		/*border: 1px solid red;
		width:780px;
		float:left;
		padding:0 0 43px 43px;*/
		background: #FFFFFF;
		border-left: 1px solid #F3F3F3;
		border-right: 1px solid #F3F3F3;
	}

	/* div navegacao */
	#lateral {
		float: left;
		width:190px;
		height: 100%;
		margin-top: 110px;
		margin-bottom: 10px;
		margin-left: 5px;
	}

	#explorer{
		border:2px solid #EFEFEF;
		background-color: #FFF;
		overflow-x: auto;
		overflow-y: none;
	}

	.navegacao{
		margin-bottom: 10px;
		font-family: verdana;
		font-size: 13px;
	}

	.navegacao h2{
		border: none;
		background: #2E6AB1;
		font-family: verdana;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}

/*.divPesquisa{
    width:700px;
    height:auto;
    position:absolute;
    overflow:scroll auto;
    top:150px;
    left:10%;
    background:#fff;
    border-style: dashed;
    border-color: #000;
    border-width:1px;
    padding: 10px 10px 10px 10px;
    display: none;
}*/

/*TEXTOS*/
strong {
	font-weight:700;
}

/*#message, .msg, #erro {
	margin:15px 6px;
}*/

#erro, #message {
	background:#FFDFDF url(../images/error.png) 7px 6px no-repeat;
	border:1px dashed #C00C00;
	margin:10px;
	padding:25px 5px 5px;
}

    #erro ul  {
		margin:0 0 3px 5px;
    }

        #erro ul li {
            display:inline;
			color:#F00;
			margin-right:6px;
        }

			#erro ul li strong {
				border-bottom:none;
				color:#000;
	        }

    .pesquisaAjax{
        width:100%;
        clear:both;
    }

	#erro img, #message img, .pesquisaAjax .fechar {
	   cursor:pointer;
	   float:right;
	   margin:-26px -5px;
	}

#message {
    background:#F8F8F8 url(../images/info.png) 7px 6px no-repeat;
	border:1px dashed #009980;
	color:#009980;
}

    #message ul {
        list-style-type:none;
    }


/*HEADER*/
#top {
	background:#FFF url(../images/bgShdw.jpg) bottom left repeat-x;
	height:20px;
	margin-bottom:15px;
	/*position:fixed;*/
	width: 995px;
}

	#top .data {
		background:#084E5A url(../images/) left top repeat-x;
		color:#FFF !important;
		height:28px;
		line-height:28px;
		padding-right:7px;
		text-align:right;
	}

	#home{
		background:#084E5A url(../images/home.jpg) left top no-repeat;
		height:25px;
	}

		#top .data span {
			margin-left:41px;
		}

	#top .contTop {
		background:#FFF url(../images/) bottom right no-repeat;
		height:65px;
	}

	.contTop .sairImg {
		float:right;
		margin:6px;
	}

.topShdw {
	line-height:39px;
}

.caminho {
	margin-bottom:13px;
}

	.caminho a {
		border-bottom:none !important;
		font-weight:100 !important;
	}




/*LINKS*/
a:link, a:hover, a:active, a:visited {
	border-bottom:1px dashed;
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
}

a:hover, a:active {
	background-color:#084E5A;
	color:#FFF !important;
	cursor:pointer;
}


/*TITULOS*/
h2 {
	/*background:#FFF url(../images/bgTitle.jpg) left no-repeat;
	border-bottom:2px solid;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	line-height:28px;
	margin-bottom:16px;
	*margin-bottom:9px;
	padding-left:11px;*/
}

h3 {
	font-size:13px;
}

#divPesquisa{
	width:96%;
	overflow-x: auto;
	overflow-y: hidden;
	margin:2px 10px;
	padding:3px;
	border: 1px solid;
	height:100%;
}

#divPesquisa table{
	width:100%;
	border: 0;
	margin:0;
	padding:0;
}

/* borda arredondada */

b.rtop{
	display:block;
	background: #FFF;
}

b.rbottom{
	display:block;
	background: #FFF;
}

b.rtop b{
	display:block;
	height: 1px;
	overflow: hidden;
	background: #2E6AB1;
}

b.rbottom b{
	display:block;
	height: 1px;
	overflow: hidden;
	background: #EFEFEF;
}


b.r1{
	margin: 0 5px
}

b.r2{
	margin: 0 3px
}

b.r3{
	margin: 0 2px
}

b.rtop b.r4{
	margin: 0 1px;
	height: 2px
}
b.rbottom b.r4{
	margin: 0 1px;
	height: 2px
}


.listNavegacao{
	width:98%;
	border:2px solid #EFEFEF;
	background: #F7F7F7;
}

.listNavegacao li{
	list-style: none;
	line-height: 20px;
	text-align: left;
	padding-bottom: 5px;
	border-bottom:1px solid #C8C8C8;
	cursor:pointer;
	height:20px;
	width:80%;
	list-style-image: url(../images/seta-right.gif);
	background-repeat: no-repeat;
	background-position: left;

	margin:auto;
}

.listNavegacao li a{
	border:none !important;
	cursor:pointer;
	font-weight:normal;
	text-decoration:none;
	color: #084E5A;
}

.listNavegacao li a:hover{
	background:none;
	color:#084E5A !important;
	cursor:pointer;
}

/*TABLES*/
table, fieldset {
	border:1px solid;
	font-size:11px;
	margin:2px 10px;
	padding:3px;
}

    table th, table td {
        padding:4px 6px;
    }

	table th {
		color:#FFF;
		text-align:center;
	}

		table th img {
			cursor:pointer;
			margin-bottom:2px;
		}

		  .imgTb {
		      margin-bottom:-4px;
		      _margin-bottom:-3px;
		  }

	table td {
		padding:4px;
		*padding-right:10px;
	}

	table a:link, table a:hover, table a:active, table a:visited, table a:link.inputImg, table a:hover.inputImg, table a:active.inputImg, table a:visited .inputImg {
		background-image:none;
		border:none;
		cursor:pointer;
		font-weight:normal;
		text-decoration:none;
		padding:0;
	}

	table.item {
	   margin:2px 0;
	}

	.tblPesquisa tr {
		cursor:pointer;
	}

	.tblPesquisa a:hover {
		text-decoration:underline;
	}


/*IMGS*/
.imgInput{
   margin-left: 5px;
}


table.item td .imgInput {
    margin:0 13px -4px -13px;
    _margin-bottom:-3px;
}

        table.item td .imgInput {
            margin-left:3px;
        }

.logo a {
	background-color:transparent !important;
	border-bottom:none !important;
}


/*FIELDSET*/
fieldset {
	margin-bottom:13px;
	padding:0 7px 7px 7px;
}

	legend {
		font-variant:small-caps;
		padding:0 5px;
	}

    .colunaFormulario{
        width:45%;
        float:left;
    }

	.fieldLinha {
		margin:7px 0;
		text-align:left;
		width: 100%;
		clear:both;
	}

	.fieldLinha2{
		margin:7px 0;
		width: 50%;
		float: left;
	}


	.fieldLinha3{
		margin:7px 0;
		width: 33%;
		float:left;
	}

	.fieldLinhaVazia {
		margin:10px 0;
        height:32px;
	}



.fieldBtn {
	height:35px;
	margin:13px 0 0 10px;
	width: 95%;
	*margin-left:5px;
}

.referencia{
	float:right;
	background-color:#e8e8e8;
	padding:5px;
	border:1px solid #cccccc;
	margin: 0.5px -6px;
}

/*FOOTER*/
#footer {
    bottom:0;
    color:#FFFFFF;
    font-family:Georgia,"Times New Roman",Times,serif;
    height:29px;
    position:relative;
    text-align:right;
    width:100%;
    clear:both;
}

address {
	background:#084E5A url(../images/bgDgr.jpg) left top repeat-x;
	font-style:normal;
	line-height:29px;
	padding-right:13px;
}

	address a  {
		border-bottom:none !important;
		color:#D69B25 !important;
		font-weight:100 !important;
	}

		address a:hover  {
			background-color:transparent !important;
			border-bottom:1px dashed !important;
			color:#FFF;
		}


/*PAGINACAO E NUMERO DE REGISTROS*/
.pagination {
	border:none;
	text-align:right;
}

	.pagination a:link, .pagination a:active, .pagination a:visited, .pagination a:hover {
		border:none;
	}

		.pagination .pagLink, .pagActive  {
			background-color:#F4F4F4;
			border:1px solid #CCC;
			padding:3px;
		}

		.pagination a:hover .pagLink {
			background-color:#43757E;
			border-color:#333;
		}

		.pagActive {
			background-color:#43757E;
			border-color:#F4F4F4;
			color:#FFF;
		}

		.pagImg a:hover, .pagImg a:active {
			background-color:#FFF;
		}


/*COR PADRAO*/
body, h2, table {
	border-color:#43757E;
}

h3, table a:link, table a:hover, table a:active, table a:visited, fieldset legend  {
	color:#43757E;
}

table th, #footer, #bottom {
	background-color:#43757E;
}

.tdHover td:hover, .tdHover tr:hover {
	background:#C5C5C5;
}

a:link, a:hover, a:active, a:visited {
	color:#648F97;
}

.trLink tr:hover, .trLink tr:active{
	background-color:#CCC;
	color:#2E6AB1;
    cursor:pointer;
}


