delete from onp_parametro_retencao;
delete from onp_movimento_taxa;
delete from onp_movimento_categoria;
delete from onp_movimento_ocorrencia;
delete from onp_ocorrencia;
delete from onp_referencia_pendente;
delete from onp_fatura_taxa;
delete from onp_fatura_categoria;
delete from onp_fatura;
delete from onp_taxa_tarifa_faixa;
delete from onp_taxa_tarifa;
delete from onp_taxa;
delete from onp_tipo_entrega;
delete from onp_movimento;
delete from onp_Agente;
delete from onp_roteiro;
delete from onp_grupo_fatura;
delete from onp_matricula_alteracao;
delete from onp_categoria;
delete from onp_hidrometro;
delete from onp_localizacao_hidrometro;
delete from onp_faturas_aviso;
delete from onp_aviso_debito;
delete from onp_matricula_servico;
delete from onp_historico;
delete from onp_matricula;
delete from onp_logradouro;
delete from onp_servico;
delete from onp_matriculas_carga;
delete from onp_qualidade_agua;
update onp_tabelas_carga set ind_carga='N';