body {
	background-image: url(../images/bgTop.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.top {
	background-image: url(../images/bgTopPagina.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	width: 980px;
	height: 140px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.logo {
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 61px;
	height: 96px;
	padding: 0px 0px 0px 0px;
	margin: 40px 0px 0px 40px;
	border: 0px;
	float: left;
}

.foto {
	background-image: url(../images/foto.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 832px;
	height: 101px;
	padding: 0px 0px 0px 0px;
	margin: 10px 20px 0px 0px;
	border: 0px;
	float: right;
}

.fioLateral 
{
	background-image: url(../images/bgFio.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 960px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px;
	height: 180px;
}

.fioLateralInterno 
{
	background-image: url(../images/bgFio.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 960px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px;
}

/* formatação do menu e submenus */

ul.menubar
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: transparent; /* IE6 Bug */
	width: 980px;
}

ul.menubar .menuvertical
{
	margin: 0px 0px 0px 0px;
  	padding: 0px;
  	list-style: none;
  	background-image: url(../images/bgMenu.gif);
  	background-repeat: repeat-x;
	float:left;
	height: 31px;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	background-color: #FFFFFF;
}

ul.menubar .ctLeft 
{
	margin: 0px 0px 0px 30px;
  	padding: 0px;
  	list-style: none;
  	background-image: url(../images/menuLeft.gif);
  	background-repeat: no-repeat;
	width: 14px;
	height: 31px;
	border: 0px;
	list-style: none;
	float:left;
}

ul.menubar .ctRight 
{
	margin: 0px;
  	padding: 0px;
  	list-style: none;
  	background-image: url(../images/menuRight.gif);
  	background-repeat: no-repeat;
	width: 14px;
	height: 31px;
	border: 0px;
	list-style: none;
	float:left;
}

ul.menubar .divisaoMenu 
{
	margin: 0px 0px 0px 0px;
  	padding: 0px;
  	list-style: none;
  	background-image: url(../images/divisaoMenu.gif);
  	background-repeat: no-repeat;
	width: 11px;
	height: 31px;
	border: 0px;
	list-style: none;
	float:left;
}

ul.menubar ul.menu
{
	display: none;
	position: absolute;
	margin: 0px;
}

ul.menubar a
{
	padding: 7px 3px 0px 3px;
	margin: 0px 30px 0px 30px;
	display: block;
	text-decoration: none;
	color: #666666;
}

ul.menubar ul.menu a
{
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	color: #666666;
}


ul.menu,
ul.menu ul
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 150px; /* Width of Menu Items */
	background-color: #ffffff; /* IE6 Bug */
}

ul.menu li
{
	position: relative;
	list-style: none;
	border: 1px solid #CCCCCC;
	background-color: #f0f0f0;
	text-align: left;
	margin: 3px 0px 3px 0px;
	padding: 0px 0px 0px 0px !important;
}

ul.menu li hr
{
	width: 148px;
	padding: 0px;
	margin: 0px;
}

ul.menu li a
{
	display: block;
	text-decoration: none;
	border-bottom: 0px;
	color: #666666;
	padding: 3px 10px 3px 2px !important;
	width: 136px;
}

/* Fix IE. Hide from IE Mac \*/
* html ul.menu li { float: left; height: 1%; }
* html ul.menu li a { height: 1%; }
/* End */

ul.menu ul
{
	position: absolute;
	display: none;
	left: 149px; /* Set 1px less than menu width */
	top: 0px;
}

ul.menu li.submenu ul { display: none; } /* Hide sub-menus initially */

ul.menu li.submenu 
{
	background: transparent url(../images/setaMenu.png) right center no-repeat;
	border: 1px solid #CCCCCC;
	background-color: #f0f0f0;
	text-align: left;
	margin: 3px 0px 3px 0px;
	padding: 0px 0px 0px 0px !important;
}

ul.menu li a:hover 
{
	background-color: #ff9900;
	color: #FFFFFF;
	padding: 3px 10px 3px 2px !important;
	border: 0px;
}

/* final formatação menu */

.siteMap 
{
	background-image: url(../images/icSiteMap.gif);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-align: left;
	margin: 0px 0px 10px 0px;
	margin: 0px 0px 10px 30px;
	padding: 0px 0px 0px 0px;
	height: 20px;
	width: 850px;	
}

.siteMap span 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #FF9900;
	font-weight: normal;
	text-align: left;
	margin: 0px 5px 0px 35px;
}

.siteMap span.destaqueSiteMap
{
	font-family: Verdana;
	font-size: 8pt;
	color: #FF9900;
	font-weight: bold;
	text-align: left;
	margin: 0px 10px 0px 0px;
}


.topConteudo 
{
	background-image: url(../images/topConteudo.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 0px;
	width: 946px;
	height: 17px;
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 0px 0px;	
}

.bgConteudo 
{
	background-image: url(../images/bgConteudo.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 947px;
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 5px 0px;
	height: auto
}

.bottomConteudo 
{
	background-image: url(../images/bottomConteudo.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 0px;
	width: 946px;
	height: 17px;
	margin: 0px 0px 0px 18px;
	padding: 0px 0px 0px 0px;	
}

.btsBottom 
{
	width: 870px;
	width: 900px;
	text-align: right;	
	margin: 10px 0px 0px 0px;
}

.btsBottomAbas 
{
	width: 100%;
	text-align: right;	
	margin: 10px 10px 0px 0px;
}

.bottomPagina 
{
	background-image: url(../images/bottomPagina.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border: 0px;
	width: 960px;
	height: 15px;
	margin: 20px 0px 0px 5px;
	padding: 0px 0px 30px 0px;
	text-align: right;	
}

.bottomDefault 
{
	background-image: url(../images/bottomPagina.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border: 0px;
	width: 960px;
	height: 15px;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 30px 0px;
	text-align: right;	
}

.bottomPagina span, .bottomDefault span
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	text-align: right;
	font-weight: normal;
	padding: 0px 20px 0px 0px;	
}

.txtPagina 
{
	padding: 0px 0px 0px 0px;
	text-align: left;
	width: 880px;
	margin: 0px 0px 10px 0px;
}

.txtPagina span 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	padding: 2px 10px 5px 0px;
	/*background-color: #FFFFFF;*/	
}

.fioTxt 
{
	border-bottom: 1px solid #336	699;
}

input, textarea, select
{
	background-color: #f0f0f0;
	border: 1px solid #CCCCCC;
	padding: 1px 2px 0px 2px;
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	text-align: left;
	font-weight: normal;
	    margin-left: 5px;
    margin-right: 15px;
    margin-top: 0px;
}

.check input
{
	background-color: transparent;
	border: 0px;
	padding: 1px 2px 0px 2px;
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	text-align: left;
	font-weight: normal;
	margin: 0px 2px 0px 5px;
}

.label 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	display: table;
	width: 900px;
	text-align: left;
	vertical-align: bottom;
}

.labelUC 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	display: table;
	width: 100%;
	text-align: left;
	vertical-align: bottom;
}

.btPesquisar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btPesquisar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btPesquisarForm 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px -15px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btPesquisar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btNovo 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btNovo.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btApagar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btApagar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btVoltar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btVoltar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btBloquear 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/lock_closed.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btLiberar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/unlocked.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btMais 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px -12px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btMais.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btMaisForm 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 2px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btMais.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

a.btMaisForm, a.btMaisForm:link, a.btMaisForm:active, a.btMaisForm:visited, a.btMaisForm:hover
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 2px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btMais.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
	text-decoration: none;
}

.btAtualizar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btAtualizar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btSalvar 
{
	border-style: none;
    border-color: inherit;
    border-width: 0px;
    background-color: #FFFFFF;
	    font-family: Verdana;
	    font-size: 8pt;
	    font-weight: normal;
	    padding: 3px 0px 0px 20px;
	    margin: 0px 0px 0px 5px;
	    color: #666666;
	    text-transform: lowercase;
	background-image: url('../images/btSalvar.gif');
	    background-repeat: no-repeat;
	    background-position: 0px 0px;
	    cursor: pointer;
	}

.btSair 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btSair.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btSairModal 
{
	border: 0px;
	background-color: transparent;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 2px 0px 0px 20px;
	margin: -16px 0px 0px 5px;
	margin: -18px 0px 0px 5px;
	color: #FFFFFF;
	text-transform: lowercase;
	background-image: url(../images/btSairModal.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
	float: right;
}


.btExcluir 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btExcluir.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btF 
{
	border: 0px;
	background-color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	background-image: url(../images/btF.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.btFF 
{
	border: 0px;
	background-color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	background-image: url(../images/btFF.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.btR 
{
	border: 0px;
	background-color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	background-image: url(../images/btR.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.btRR 
{
	border: 0px;
	background-color: #FFFFFF;
	margin: 5px 0px 5px 0px;
	background-image: url(../images/btRR.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.btSucesso 
{
	border: 0px;
	background-color: #336699;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	padding: 3px 3px 6px 30px;
	margin: 0px 5px 0px 5px;
	color: #FFFFFF;
	text-transform: lowercase;
	background-image: url(../images/btSucesso.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 22px;
}

.btOK 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btOK.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btSinc 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/sinc.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btSinc2 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/sinc2.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btPrint 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btPrint.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btPrint2 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 35px;
	margin: 0px 0px 0px 5px !important;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btPrint2.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btPagamento 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 16px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btPagamento.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btGerar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btGerar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btArquivosGerados 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px !important;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btArquivosGerados.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btSequenciar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px !important;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btSequenciar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btDesenquenciar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px !important;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btDesenquenciar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.btResenquenciar 
{
	border: 0px;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	padding: 3px 0px 0px 20px;
	margin: 0px 0px 0px 5px !important;
	color: #666666;
	text-transform: lowercase;
	background-image: url(../images/btResequenciar.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
	height: 18px;
}

.grid 
{
	width: 885px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.gridView 
{
	width: 100%;
	margin: 10px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}

.gridView th 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	text-align: center;
	background-color: #dcdcdc;
	border-top: 2px solid #336699;
	padding: 0px 2px 2px 2px;
}

.gridView td 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	text-align: left;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px 2px 0px 5px;
}

.gridView td.right 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	text-align: right;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px 2px 0px 5px;
}

.gridView td.center 
{
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	font-weight: normal;
	text-align: center;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px 2px 0px 5px;
}

.painel 
{
	background-color: #f5f5f5;
	border: 1px solid #336699;
	padding: 2px 2px 2px 2px;
	margin: 0px 0px 5px 0px;	
}

.titJanela 
{
	background-color: #336699;
	font-family: Verdana;
	font-size: 8pt;
	text-align: left;
	padding: 1px 2px 1px 5px;
	color: #FFFFFF;	
}

.titForm 
{
	border-top: 1px dotted #FF9900;
	border-bottom: 1px dotted #FF9900;
	font-family: Verdana;
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
	padding: 2px 2px 2px 5px;
	color: #FF9900;	
	width: 900px;
	margin: 10px 0px 5px 0px;
}

.titForm a, .titForm a:link, .titForm a:active, .titForm a:visited, .titForm a:hover 
{
	font-family: Verdana;
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
	color: #FF9900;
	text-decoration: none;
}

.titFormAbas 
{
	border-top: 1px dotted #FF9900;
	border-bottom: 1px dotted #FF9900;
	font-family: Verdana;
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
	padding: 2px 2px 2px 0px;
	color: #FF9900;	
	width: 100%;
	margin: 10px 0px 15px 0px;
	text-indent: 5px;
}

/* formatação das abas */

/* default layout */
.ajax__tab_default .ajax__tab_header {white-space:nowrap;}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab 
{
	margin-right:4px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
	display:-moz-inline-box;
	display:inline-block;
}

/* xp theme */
.ajax__tab_xp .ajax__tab_header 
{
	font-family: verdana,tahoma,helvetica;
	font-size:8pt;
	background:url("../images/tab-line.gif") repeat-x bottom !important;
	padding: 0px 0px 1px 0px !important;
	padding: 0px 0px 2px 0px !important;
	margin: 15px 0px 0px 0px;
}

.ajax__tab_xp .ajax__tab_outer 
{
	background: url("../images/tab-right.gif") no-repeat right !important;
	height:21px;
	padding: 0px 15px 0px 0px !important;
}

.ajax__tab_xp .ajax__tab_inner 
{
	background:url("../images/tab-left.gif") no-repeat !important;
	padding: 0px 0px 0px 15px !important;
	height:21px;
}

.ajax__tab_xp .ajax__tab_tab 
{
	height:21px;
	padding:4px;
	margin:0;
	background:url("../images/tab.gif") repeat-x !important;
}

.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer 
{
	background:url("../images/tab-hover-right.gif") no-repeat right !important;
	padding: 0px 15px 0px 0px !important;
}

.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner 
{
	background:url("../images/tab-hover-left.gif") no-repeat !important;
	padding: 0px 0px 0px 15px !important;
}

.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab 
{
	background:url("../images/tab-hover.gif") repeat-x !important;
	font-family: Verdana;
	font-size: 8pt;
	color: #FFFFFF !important;
	font-weight: normal;
}

.ajax__tab_xp .ajax__tab_active .ajax__tab_outer 
{
	background:url("../images/tab-active-right.gif") no-repeat right !important;
	padding: 0px 15px 0px 0px;
}

.ajax__tab_xp .ajax__tab_active .ajax__tab_inner 
{
	background:url("../images/tab-active-left.gif") no-repeat !important;
	padding: 0px 0px 0px 15px;
}

.ajax__tab_xp .ajax__tab_active .ajax__tab_tab 
{
	background:url("../images/tab-active.gif") repeat-x !important;
	font-family: Verdana;
	font-size: 8pt;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
}

.ajax__tab_xp .ajax__tab_body 
{
	font-family:verdana,tahoma,helvetica;
	font-size:10pt;
	border-left:1px solid #336699 !important;
	border-right:1px solid #336699 !important;
	border-bottom:1px solid #336699 !important;
	padding: 5px 3px 3px 5px;
	background-color:#ffffff;
}

/* scrolling 
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}*/
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/* formatação modalPopup */

.modalPopup 
{
	border: 1px solid #336699;
	background-color: #FFFFFF;	
}

.titModalPopup 
{
	background-color: #336699;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	text-indent: 10px;
	padding: 2px 2px 2px 0px;	
}

.modalBackground {
	background-color: #f0f0f0;
	/*filter: alpha(opacity=70);
	opacity: 0.7;*/
}

.table 
{
	width: 99%;
	border: 0px;
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.table td 
{
	padding: 2px 0px 2px 0px;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	color: #666666;
	font-weight: bold;	
}

.table tr 
{
	vertical-align: top;
}
.listBox 
{
	border: 1px solid #336699;
	font-family: Verdana;
	font-size: 8pt;
	color: #666666;
	text-align: left;
	line-height: 20px;	
}

.paginacao td 
{
	background-color: #dcdcdc;
	border-bottom: 1px solid #336699;
	padding: 0px 0px 0px 0px;
}

.paginacao table 
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;	
}

.paginacao table td 
{
	padding: 0px 2px 0px 2px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	border: 0px;
}

.paginacao table td span
{
	padding: 0px 2px 0px 2px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
}

.paginacao table td a, .paginacao table td a:link, .paginacao table td a:active, .paginacao table td a:visited
{
	background-color: #336699;
	padding: 0px 3px 0px 3px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px 2px 0px 2px;
}

.paginacao table td a:hover
{
	background-color: #336699;
	padding: 0px 3px 0px 3px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFF00 !important;
	text-decoration: none;
}

.paginacao td span {
    color:#666666;
    font-family:Verdana;
    font-size:8pt;
    font-weight:normal;
    padding:0 2px;
    text-align:right;
}

.paginacao td a:hover
{
	background-color: #336699;
	padding: 0px 3px 0px 3px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFF00 !important;
	text-decoration: none;
}

.paginacao td 
{
	padding: 0px 2px 0px 2px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #666666;
	border: 0px;
}

.paginacao td a, .paginacao table td a:link, .paginacao table td a:active, .paginacao table td a:visited
{
	background-color: #336699;
	padding: 0px 3px 0px 3px;
	text-align: right;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px 2px 0px 2px;
}

.labelComponente span, .labelComponente input, .labelComponente table
{
    font-family: Verdana;
    font-size: 8pt;
    color: #666666;
    font-weight: normal;
    display: inline;
    float: left;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

.labelComponente .labelComponenteInicio
{
    font-family: Verdana;
    font-size: 8pt;
    color: #666666;
    font-weight: normal;
    display: inline;
    float: left;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
    margin: 0px 0px 0px 35px;
}

.labelComponente span, .labelComponente input, .labelComponente table
{
    font-family: Verdana;
    font-size: 8pt;
    color: #666666;
    font-weight: normal;
    display: inline;
    float: left;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
    margin: 0px 0px 0px 10px;
}

.fieldLinha {
	margin:7px 0;
	text-align:left;
	width: 100%;
	clear:both;
}

.fieldLinha2{
	margin:7px 0;
	width: 50%;
	float: left;
}

.fieldLinha4
{
    float:left;
    margin:5px 0 5px 2px;
    text-align:center;
    width:24%;
}

.fieldLinha3{
	margin:7px 0;
	width: 33%;
	float:left;
}
.divTabela
{
    height:auto;
    overflow:auto;
    white-space:nowrap;
    width:871px;
}

.medTxtArea {
	width:150px;
}

.med2TxtArea {
	width:200px;
}

.med3TxtArea {
	width:300px;
}