<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputDirectory" value="C:\AfoCastleARCodeGenerator\Output" />
    <add key="DatabaseName" value="Northwind" />
    <add key="ProjectNamespace" value="Model.Northwind" />
    <add key="UserEmailAddress" value="alexismoura@gmail.com" />
  </appSettings>

  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=ZEUS;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>