<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbPortal" connectionString="Data Source=.\SQLEXPRESS;
      AttachDbFilename=|DataDirectory|\Data\NORTHWND.MDF;
      Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
