@if (false && ViewContext.RouteData.Values["controller"].ToString() == "Home")
{
    <section id="intro">
        <div id="slides">
            <div class="slides_container">
                <img src="../../Content/themes/base/images/banner1.png" width="960" height="300" alt="baner">
                <img src="../../Content/themes/base/images/banner1.png" width="960" height="300" alt="baner">
                <img src="../../Content/themes/base/images/banner1.png" width="960" height="300" alt="baner">
            </div>
        </div>
    </section>
}