<div>
    <div class="fieldLinha">
        <h2>
            Bem vindo @PontoEncontro.Infrastructure.Aplication.GetUserName() !
        </h2>
    </div>
    <div class="fieldLinha">
        <ul>
            <li>@Html.ActionLink("Sair", "LogOff", "Account")</li>
            <li><a href="#">Painel de Controle</a></li>
            <li>@Html.ActionLink("Editar Meu Perfil", "Index", "Member")</li>
            <li>@Html.ActionLink("Adicionar Fotos", "Create", "Photo")</li>
        </ul>
    </div>
</div>
