<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="gda" type="GDA.Common.Configuration.Handlers.GDASectionHandler, GDA"/>
  </configSections>
    <gda>
      <GDA>
        <DefaultProvider name="conexao"/>
        <Debug trace="true"/>
        <!--STRING DE CONFIGURCAO DO BANCO DE DADOS-->
        <ProvidersConfiguration>
          <Info name="conexao" providerName="MsSql" connectionString="Data Source=CRONOS\SHIVA;Initial Catalog=teste;Persist Security Info=True;User ID=sa;Password=dolar$; Connect Timeout=60"/>
        </ProvidersConfiguration>
        <Providers>
          <Provider name="MsSql" classNamespace="GDA.Provider.MsSql" assembly="GDA" />
        </Providers>
        <ModelsNamespace>
          <Namespace assembly="*" name="Saned_DATA.Model"/>
        </ModelsNamespace>
      </GDA>
    </gda>
    <appSettings/>
  <connectionStrings/>
</configuration>
