@model PontoEncontro.Models.PersonModel
@{
    ViewBag.Title = "Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Pessoa</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
<div>
    <fieldset>
        <legend>Account Information</legend>
        @Html.EditorForModel()
        <p>
            <input type="submit" value="Next" />
        </p>
    </fieldset>
</div>
