@{
    ViewBag.Title = "Index";
}
<div class="fieldLinha">
    <div class="fieldLinha3">
        <div class="fieldLinha">
            <img src="../../Content/themes/base/images/icon/Photo.png" width="51" height="52" alt="icons" class="icons"/>
        </div>
        <div class="fieldLinha">
            <h2>@Html.ActionLink("Configurações gerais de conta", "Edit", "Member")</h2>
        </div>
    </div>
    <div class="fieldLinha3">
@*        <div class="fieldLinha">
            <img src="../../Content/themes/base/images/icon/Photo.png" width="51" height="52" alt="icons" class="icons"/>
        </div>
        <div class="fieldLinha">
            <h2>Sua Localização</h2>
        </div>*@
    </div>
    <div class="fieldLinha3">
@*        <div class="fieldLinha">
            <img src="../../Content/themes/base/images/icon/Photo.png" width="51" height="52" alt="icons" class="icons"/>
        </div>
        <div class="fieldLinha">
            <h2>Dados de Contato / Exibição</h2>
        </div>*@
    </div>
    <div class="fieldLinha3">
@*        <div class="fieldLinha">
            <img src="../../Content/themes/base/images/icon/Photo.png" width="51" height="52" alt="icons" class="icons"/>
        </div>
        <div class="fieldLinha">
            <h2>Interesses e intimidades</h2>
        </div>*@
    </div>
</div>
