
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #3B5998;
    cursor: pointer;
    text-decoration: none;
}

#blueBar {
    background-color: #3B5998;
    height: 41px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#container
{
	margin: 0 auto;
	width: 981px;
	background: #fff;
}

#contentCurve {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #B3B3B3 #B3B3B3;
    border-right: 1px solid #B3B3B3;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    position: relative;
}

#header
{
	padding: 20px;
	width: 100%;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 779px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    height: 22px;
    padding: 8px 10px 0;
    text-decoration: none;
}

#navigation li a:hover 
{     
    background-color: #6D86B7;
    outline: medium none; 
}

#content-container1
{
	float: left;
	width: 100%;
	background: #fff url(layout-three-liquid-background1.gif) repeat-y 20% 0;
}

#content-container2
{
	float: left;
	width: 100%;
	background: url(layout-three-liquid-background2.gif) repeat-y 80% 0;
}

#section-navigation
{
	float: left;
	width: 16%;
	padding: 20px 0;
	margin: 0 2%;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#bottomContent {
    clear: both;
    padding: 0 20px 12px;
}

#footer
{
    border-top: 0px solid #EEEEEE;
    margin-bottom: 30px;
    padding: 8px;
    float: left;
    color: #737373;
    font-size: 11px;
}