<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers accessPolicy="Read, Script">
			<add name="/-php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe|" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/-php5" path="*.php5" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe|" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/-phtml" path="*.phtml" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe|" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/-inc" path="*.inc" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.3\php-cgi.exe|" resourceType="Unspecified" requireAccess="Script"/>
		</handlers>
	<rewrite>
	  <rules>
		<rule name="Imported Rule 1" stopProcessing="true">
		  <match url="^.*$" />
		  <conditions logicalGrouping="MatchAny">
			<add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
		  </conditions>
		  <action type="None" />
		</rule>
		<rule name="Imported Rule 2" stopProcessing="true">
		  <match url="^.*$" />
		  <action type="Rewrite" url="index.php" />
		</rule>
	  </rules>
	</rewrite>
  </system.webServer>
	<location path="zend">
		<system.web>
		  <authorization>
			<allow users="*"></allow>
		  </authorization>
		</system.web>
	</location>
</configuration>
