@charset "utf-8";
@import "form.css";
@import "grid.css";
@import "jquery-ui-1.8.15.custom.css";

* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    font: 81.25%/1 arial,helvetica,sans-serif;
}
ul {
    color: #999999;
}
li {
  margin: 0 0 .5em;
}
ul li {
    display: inline;
    padding: 0 1.5em 0 0;
}
ol, ul {
  list-style: none;
  line-height: 17px;
  margin: 0 0 1em;
}
a {
    color: #1155CC; 
    text-decoration: none;
    cursor: pointer;
}
strong {
    color: #222222;
}
h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-size: 1.54em;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 0.46em;
}

.header {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    height: 71px;
    overflow: hidden;
}

.center{
    height: 80%;
    margin-left: 9%;
    margin-top: 15px;
    width: 82%;
}

.center .left{
	border: 1px solid #EBEBEB;
    float: left;
    height: auto;
    margin: 4px;
    width: 25%;
}

.center .right{
	border: 1px solid #EBEBEB;
    float: left;
    width: 73%;
    height: 97%;
    margin: 4px;
}

.clean-header{
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    height: 50px;
}


.footer{
    bottom: 0;
    border-top: 1px solid #EBEBEB;
    overflow: hidden;
    margin-top: 10px;
    height: 10%;
}

.clean-footer{
    height: 50px;
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
	font-size: 0.85em;
	text-align: center;
}

.logo {
    float: left;
    margin: 18px 0 0 -1px;
}

.header .signup-button a {
    margin: 0 0 0 1em;
    position: relative;
    top: -1px;
}

.signup-button {
    float: right;
    margin: 13px 0 0;
}

.button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #555555;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

.button-red {
    background-color: #D14836;
    border: 1px solid transparent;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.button-red :hover {
    background-color: #C53727;
    border: 1px solid #B0281A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.button-submit {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button-submit:hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.signin-box, .accountchooser-box {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 0px solid #E5E5E5;
    margin: 0px 0 0;
    padding: 20px 25px 15px;
}

.signin-box input[type="text"], .signin-box input[type="password"] {
    font-size: 15px;
    height: 32px;
    width: 100%;
}
.signin-box label {
    display: block;
    margin: 0 0 1.5em;
}
.signin-box label.remember {
    display: inline-block;
    margin: 9px 0 0;
    vertical-align: top;
}
.signin-box input[type="submit"] {
    font-size: 13px;
    height: 32px;
    margin: 0 1.5em 1.2em 0;
}
.signin-box h2 {
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    margin: 0 0 1.2em;
    position: relative;
}
input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover, select:hover{
    border-color: #A0A0A0 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type="email"], input[type="password"], input[type="text"], input[type="url"], select{
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding-left: 8px;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus{
    border: 1px solid #4D90FE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
}

.label {
    -moz-user-select: none;
    display: block;
    font-weight: bold;
    margin: 0 0 0.5em;
}
.signin-box h2 {
    font-size: 16px;
    height: 16px;
    line-height: 17px;
    margin: 0 0 1.2em;
    position: relative;
}

 .messenger {
    height: auto;
    margin-left: 9%;
    margin-top: 15px;
    width: 82%;
}

#erro, #message {
	background:#FFDFDF url(../images/error.png) 7px 6px no-repeat;
	border:1px dashed #C00C00;
	margin:10px;
	padding:25px 5px 5px;
}

    #erro ul  {
		margin:0 0 3px 5px;
    }

        #erro ul li {
            display:inline;
			color:#F00;
			margin-right:6px;
        }

			#erro ul li strong {
				border-bottom:none;
				color:#000;
			}

	#erro img, #message img, .pesquisaAjax .fechar {
	   cursor:pointer;
	   float:right;
	   margin:-26px -5px;
	}

#message {
    background:#F8F8F8 url(../images/info.png) 7px 6px no-repeat;
	border:1px dashed #009980;
	color:#009980;
}

    #message ul {
        list-style-type:none;
    }

@charset "utf-8";
